<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.contacts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Circle">
        <activity
            android:name=".ui.channel.ChannelMembersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.channel.MoveChannelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.channel.ChannelSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.channel.ChannelOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.channel.EditChannelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.category.EditCategoryNameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.category.EditCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.server.ServerSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.server.ServerOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.server.EditServerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.category.CreateCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.channel.CreateChannelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.server.ServerMembersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.server.ServerNotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.channel.ChannelNotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddFriendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.ThreadListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.UserDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>